[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[pipenv]
allow_prereleases = true

[dev-packages]

[packages]
tensorflow = "==2.7.0"
notebook = "==6.4.7"
pandas = "==1.1.4"
numpy = "==1.19.5"
table-evaluator = "*"
ipython = "==7.23.1"

[requires]
python_version = "3.8"
